<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <section id="info-section">
        <div class="info-container">
            <div class="info-header">Beauty of Netherlands</div>
            <div class="info-images">
                <figure>
                    <img src="" width="180" height="180">
                    <figcaption>Oudezijds Voorburgwal canal in Amsterdam
                    </figcaption>
                </figure>
                <figure>
                    <img src="" width="180" height="180">
                    <figcaption>Aerial view of Nijmegen</figcaption>
                </figure>
                <figure>
                    <img src="" width="180" height="180">
                    <figcaption>19th-century sculpture in Nijmegen</figcaption>
                </figure>
                <figure>
                    <img src="" width="180" height="180">
                    <figcaption>Farmlands of Callantsoog</figcaption>
                </figure>
            </div>
        </div>
    </section>
</body>

</html>